@import url("https://cdn.syncfusion.com/ej2/material.css");

$h1_font_size: 3rem;
$container-bg : #dfedf2;
.h1 {
  font-size: $h1_font_size;
}


.sa {
  display: flex;
  justify-content: space-around;
=======
$h1_font_size: 8;
$container-bg : #dfedf2;
#h1 {
  font-size: $h1_font_size;
>>>>>>> 957010ab9023ed168e62230f72fa378fcbd5572f
}